@import url('https://fonts.googleapis.com/css?family=Source Serif Pro');

:root {
	color-scheme: light dark;
	--text: #0b0b08;
	--wrapper-background: #fff;
	--background-size: 32px;
	--background-1: #a6a6a6;
	--background-2: #e7e7e7;
	--background-3: #f3f3f3;
}

html.dark-theme {
	--text: #fff;
	--wrapper-background: #161617;
	--background-1: #111111;
	--background-2: #2b2b2b;
	--background-3: #363636;
}

.theme-switcher {
	display: none;
}

.theme-toggle-label {
	cursor: pointer;
	color: #4b77a6;
	user-select: none;
}

.theme-toggle-label::after {
	content: '☀️';
	display: inline-block;
	font-size: 1.1em;
	line-height: 1;
	vertical-align: middle;
}

html.dark-theme .theme-toggle-label::after {
	content: '🌙';
}

body, html {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.5rem;
	color: var(--text);
}

html {
	background:
		repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--background-3) 0 180deg) 
		 calc(.5*var(--background-size)) calc(.5*var(--background-size)*0.577),
		repeating-conic-gradient(from 30deg,var(--background-1) 0 60deg,var(--background-2) 0 120deg,var(--background-3) 0 180deg);
	background-size: var(--background-size) calc(var(--background-size)*0.577);
}

body {
	font-family: 'Source Serif Pro', serif;
}

img {
	max-width: 100%;
	border-radius: 4px;
}

h1, h2, h3, h4, h5, h6 {
	font-style: italic;
	font-weight: 600;
}

h1::after {
	content: " ";
	width: 36px;
	height: 3px;
	display: block;
	margin-top: 24px;
	background: var(--text);
}

.page {
	padding: 24px;
	overflow: auto;
	margin-top: 240px;
}

.page h1:first-child {
	margin-top: 0;
}

a {
	color: #4b77a6;
	text-decoration: none;
}

.header-body {
	text-align: center;
	padding-top: 60px;
	background-image: none;
	position: relative;
}

.avatar {
	width: 160px;
}

.title {
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	margin: 12px 0;
	letter-spacing: 0.5px;
}

.menu a {
	display: inline-block;
	padding: 6px;
}

.top {
	border: 0;
	/* Edit this height if you would like the header to be taller */
	height: 360px;
	width: 100%
}

.wrapper {
	width: 800px;
	margin: auto;
	margin-top: 60px;
	box-shadow: 0 0 24px #3d382c1c;
	padding: 24px 60px;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 120px;
	padding-bottom: 120px;
	background: var(--wrapper-background);
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

.nav {
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
}
.nav-item {
	display: inline-block;
	justify-content: center;
	margin-inline: 0.5em;
	user-select: none;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}