#link-buttons, #contact-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color:#cdcdcd;

    p, li {
        font-size: 24px;
        text-decoration: none;
        :hover {
            transition: 0.5s;
            color: #ffffff;
        }
    }
    h1 {
        color: #e4e4e4;
    }
}