---
layout: layouts/base.njk
eleventyNavigation:
  key: Blog
  order: 2
---
<h1>Blog</h1>
<p>Subscribe to <a href="/feed/feed.xml">RSS</a> or <a href="/feed/feed.json">JSON</a></p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}